.sl_divider {
	height: 1px;
	width: 100%;
	background-color: get-color(primary);
	opacity: .5;
	margin: $spacing--lg auto;

	&--space {
		background: none;
		margin: $spacing--sm auto;
	}//end &--space
}//end .sl_divider