{% if menu %}
	<ul class="sl_dropdown sl_menu" data-dropdown-menu>

		{# First Level Menu Item #}
		{% for item in menu %}
			<li class="{{ item.classes | join(' ') }}">
				<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
				
				{# Drop Down Menu #}			    
				{% if item.has_child_class %}
					<ul class="sl_menu">
			    		{% for child in item.get_children %}
			        		<li class=" {{ child.classes | join(' ') }}">
				        		<a target="{{ child.target }}" href="{{ child.link }}">{{ child.title }}</a>

				        		{# Third Level Menu #}	    
					        	{% if child.has_child_class %}		
								<ul class="sl_menu">
					        		{% for grandchild in child.get_children %}
					            		<li class="{{ grandchild.classes | join(' ') }}">
						            		<a target="{{ grandchild.target }}" href="{{ grandchild.link }}">{{ grandchild.title }}</a>	    
					            		</li>
					        		{% endfor %}
								</ul>{# /.sl_menu #}
								{% endif %}
								{# End Third Level Menu#}

							</li>
			    		{% endfor %}
					</ul>{# /.sl_menu #}
				{% endif %}
				{# End Mega Menu#}	
			
			</li>
		{% endfor %}
	</ul>{# /.sl_dropdown.sl_menu #}
{% endif %}