{% if menu %}
	<div id="sl_offcanvas" class="sl_mobilemenu off-canvas position-left" data-off-canvas>
		
		{# Close Button #}
		<button class="sl_mobilemenu__close" type="button" aria-label="Close Menu" data-close>
			<span class="fa fa-times"></span>
		</button>

		{# Search #}
		<div class="sl_mobilemenu__search">
			{% include "sl_search.twig" %}
		</div>{# /.sl_nav__search #}

		{# First Level Menu Item #}
		<ul class="sl_menu sl_accordion-menu" data-accordion-menu>
			{% for item in menu %}
				<li class="{{ item.classes | join(' ') }}">
					<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>

					{# Second Level Menu #}
					{% if item.has_child_class %}
					<ul class="sl_menu sl_nested">
			    		{% for child in item.get_children %}
			        		<li class="{{ child.classes | join(' ') }}">
				        		<a target="{{ child.target }}" href="{{ child.link }}">{{ child.title }}</a>

						        {# Third Level Menu #}			    
					        	{% if child.has_child_class %}		
								<ul class="sl_menu sl_nested">
					        		{% for grandchild in child.get_children %}
					            		<li class="{{ grandchild.classes | join(' ') }}">
						            		<a target="{{ grandchild.target }}" href="{{ grandchild.link }}">{{ grandchild.title }}</a>				    
					            		</li>
					        		{% endfor %}
									</li>
								</ul>{# /.sl_menu.sl_nested #}
								{% endif %}	
								{# Endn Third Level Menu #}

						</li>
			    		{% endfor %}
					</ul>{# /.sl_menu.sl_nested #}
					{% endif %}		
					{# End Second Level Menu #}		

			{% endfor %}
		</ul>{# /.sl_menu.sl_accordion-menu #}

		<div class="sl_mobilemenu__usermenu">
			{% include "menu/user-menu.twig" with {'user_menu': user_menu.get_items} %}
		</div>{# /.sl_mobilemenu__usermenu #}
		
		<div class="sl_mobilemenu__callout">
			<h4>Contact us today for a free assessment</h4>
			<a class="sl_button sl_button--phone" href="tel:{{option.phone.main}}">{{option.phone.main}}</a>
		</div>{# /.sl_mobilemenu__callout #}

	</div>{# /#sl_mobilemenu #}
{% endif %}
