//Gradients
$gradient--primary: linear-gradient(90deg, #0071BA 0%, #5FA1F2 100%, #EDF3F4 100%);
$gradient--primary--mobile: linear-gradient(180deg, #0071BA 0%, #5FA1F2 100%, #EDF3F4 100%);
$gradient--secondary: linear-gradient(90deg, #BADBEC 0%, #FFFFFF 50%, #BADBEC 100%);
$gradient--border: linear-gradient(135deg, #0071BA 0%, #5FA1F2 100%, #EDF3F4 100%);

