$site-palette: (
  primary:    #003B6C,
  secondary:  #002240,
  default:    #333333,
  inverse:    #FFFFFF,
  accent1:    #EDF4FD,
  accent2:    #0071BA,
  accent3:    #F4A700,
  accent4:    #3AAF4A,
  alert:      #CC0036,
);