{% block content %}

	{# SIDEBAR MENU #}
	{% if (post.parent != false) or (post.children) %}
	{% for item in menu %}
		{% if (item.current_item_ancestor == true) or (item.current == true and item.current_item_ancestor == false) %}
	    	<h3 class="sl_sidebar__title">{{ item.title }}</h3>
		{% endif %}
	{% endfor %}
	<ul class="sl_sidebar__menu">
		{% for item in menu %}
	    	{% if item.current_item_ancestor == true or (item.current == true and item.current_item_ancestor == false) %}
	        	{% for child in item.get_children %}
	            	<li class="{{ child.classes | join(' ') }}">
			        	<a target="{{ child.target }}" href="{{ child.link }}">{{ child.title }}</a>

			        	{% if child.get_children != null %}
			        	<ul>
	                    	{% for grandchild in child.get_children %}
	                        	<li class="{{ grandchild.classes | join(' ') }}">
					            	<a target="{{ grandchild.target }}" href="{{ grandchild.link }}">{{ grandchild.title }}</a>				    
				            	</li>
	                		{% endfor %}
	                	</ul>
	            		{% endif %}
		        	</li>
	        	{% endfor %}
	    	{% endif %}
		{% endfor %}
	</ul>
	{% endif %}
	{# END SIDEBAR MENU #}

{% endblock %}