@mixin fancy-button ($color: $gradient--border, $border-radius: $border-radius--pill, $shadow: $shadow--button ){
	background-color: transparent;
	position: relative;
	z-index: 0;
	box-shadow: none;

	&:before {
		background: get-color(inverse);
	    content: "";
	    display: block;
	    position: absolute;
	    top: 0;
	    right: 0;
	    left: 0;
	    bottom: 0;
	    @if $border-radius { border-radius: $border-radius; }
	    z-index: -1;
	    @include transition (all .2s ease-in-out);
	}//end &:before

	&:after {
		content: "";
	    display: block;
	    position: absolute;
	    @if $color { background: $color; }
	    top: -2px;
	    right: -2px;
	    bottom: -2px;
	    left: -2px;
	    @if $border-radius { border-radius: $border-radius; }
	    z-index: -2;
	    @if $shadow { box-shadow: $shadow; }
	    @include transition (all .2s ease-in-out);
	}//end &:after
}//end @mixin fancy-button