{% if option.notification_text and fn('is_front_page') %}
	<div class="sl_notification-bar show-for-large" data-closable>
		<button class="sl_notification-bar__close" type="button" aria-label="Close Notification" data-close><i class="fal fa-times"></i></button>
		<div class="sl_inner">
			<p>{{ option.notification_text }}</p>
			<a class="sl_button" href="{{option.notification_button.url}}" target="{{option.notification_button.target}}">{{option.notification_button.title}}</a>
		</div>
	</div>
{% endif %}