{% extends "module.twig" %}

{% block card %}
	
	{# HEADER #}
	{% if module.header %}
		<h2>{{module.header}}</h2>
	{% endif %}

    <div class="sl_row large-up-3 medium-up-2 small-up-1">
	{# STAFF #}
    {% for staff in Post(module.staff) %}
        <div class="sl_cell">
            <div class="sl_staff__card">
                <div class="sl_cell sl_staff__image" style="background-image:url({% if staff.thumbnail %}{{ staff.thumbnail.src() }}{% else %}{{site.url}}/wp-content/themes/slate/dist/img/staff/staff-placeholder.jpg {% endif %})"></div>
                <div class="sl_staff__content">
                    <h3>{{staff.first_name}} {{staff.last_name}}{% if staff.certifications %}, {{staff.certifications}}{% endif %}</h3>
                    <h4>{{staff.staff_title}}</h4>
                    {{staff.content|wpautop}}
                </div>
            </div>{# /.sl_staff__card #}
        </div>{# /.sl_cell #}
    {% endfor %}
    </div>{# /.sl_row #}


{% endblock %}
