{% extends "module.twig" %}

{% block card %}
	
	{% if module.header %}
	<h2>{{module.header}}</h2>
	{% endif %}

	{# Optional Paragraph #}
	{% if module.paragraph %}
    	{{ module.paragraph }}
	{% endif %}	
	
	{% include 'deck.twig' %}

{% endblock %}
