{% extends "module.twig" %}

{% block card %}

	{# HEADER  #}
	{% if module.header %}
		<h2>{{ module.header }}</h2>
	{% endif %}

	{# Link  #}
	{% if module.link_check %}
		<a class="sl_button sl_button--simple" href="{{module.link_check.url}}" target="{{module.link_check.target}}">{{module.link_check.title}}</a>
	{% endif %}

	<div class="sl_tab_module__tabs">
		<ul class="tabs sl_tabs" data-responsive-accordion-tabs="tabs small-accordion medium-tabs" data-multi-expand="true" data-allow-all-closed="true" id="sl_tabs{{loop.index}}">
		{% for tab in module.tabs %}
			<li class="tabs-title sl_tabs__title {% if loop.index == '1' %}is-active{% endif %}" role="presentation"><a href="#tabpanel{{loop.parent.loop.index}}{{loop.index}}" role="tab" aria-controls="tabpanel{{loop.parent.loop.index}}{{loop.index}}" {% if loop.index == '1' %}aria-selected="true"{% else %}aria-selected="false"{% endif %} id="tabpanel{{loop.parent.loop.index}}{{loop.index}}-label">{{tab.title}}</a></li>
        {% endfor %} 
		</ul>
		<div class="tabs-content sl_tabs__content" data-tabs-content="sl_tabs{{loop.index}}">
			{% for tab in module.tabs %}
        		<div class="tabs-panel sl_tabs__panel {% if loop.index == '1' %}is-active{% endif %}" id="tabpanel{{loop.parent.loop.index}}{{loop.index}}" role="tabpanel" {% if loop.index == '1' %}aria-hidden="false"{% else %}aria-hidden="true"{% endif %} aria-labelledby="tabpanel{{loop.parent.loop.index}}{{loop.index}}-label">

        		{# Includes card components #}
			 	<div class="sl_row">
					
					{# TAB CONTENT #}
					<div class="sl_tab_module__content sl_cell {% if tab.tab_image.image %}large-6{% endif %}">
						<div class="sl_tab_module__card sl_card sl_card--tab_module">

							{# PRE HEADER #}	
							{% if tab.card.pre_header %}
								<h5>{{ tab.card.pre_header }}</h5>
							{% endif %}

							{# HEADER  #}
							{% if tab.card.header %} 
								<h2>{{ tab.card.header }}</h2>
							{% endif %}
							
							{# PARAGRAPH #}
							{% if tab.card.paragraph %}
								{% include "card-paragraph.twig" with { paragraph : tab.card.paragraph } %}
							{% endif %}
							
							{# BUTTONS #}
				    		{% if tab.card.buttons %}
								{% include "card-button.twig" with { card : tab.card } %}
							{% endif %}

						</div>{# /.sl_tab_module__card.sl_card.sl_card--tab_module #}
					</div>{# /.sl_tab_module__content.sl_cell.auto #}

					{% if tab.tab_image.image %}
					{# TAB MEDIA #}
			 		<div class="sl_tab_module__media sl_cell large-6">
			 			<div class="sl_tab_module__media__container">
			 				<div class="sl_tab_module__image" style="background-image: url({{Image(tab.tab_image.image).src}})">

							</div>{# /.sl_tab_module__image #}
			 			</div>{# /.sl_duo__media__container #}
			 		</div>{# /.sl_tab_module__media #}
			 		{% endif %}
			 	</div>{# /.sl_row #}
        		</div>{# /.tabs-panel #}
        	{% endfor %}
		</div>{# /.tabs-content  #}
	</div>{# /.sl_tabs__container #}

{% endblock %}