<ul class="sl_menu">

		{# First Level Menu Item #}
		{% for item in menu %}
			<li class="{{ item.classes | join(' ') }}">
				<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>		
			</li>
		{% endfor %}

</ul>{# /.sl_dropdown.sl_menu #}

