.sl_deck {
	.sl_inner {
		@include innerpadding($p-xsmall: $spacing--xs, $p-small: $spacing--sm, $p-medium: $spacing--md - $spacing--xs/2, $p-large: $spacing--lg - $spacing--xs/2, $p-xlarge: $spacing--lg - $spacing--sm/2,$p-xxlarge: $spacing--lg - $spacing--sm/2);

		h2 {
			font-size: 3rem;
			color: get-color(secondary);
			max-width: 950px;
			margin: 0 auto;
			margin-bottom: $spacing--lg;
			text-align: center;

			@include breakpoint (medium down) {
				font-size: 2rem;
			}//end medium down breakpoint
		}//end h2

		.large-up-2, .large-6 {
			h3 {
				font-size: 2rem;

				@include breakpoint (medium down) {
					font-size: 1.5rem;
				}//end medium down breakpoint
			}//end h3
		}//end .large-up-2, .large-6

		& > p {
			font-size: 1.25rem;
			margin-bottom: $spacing--lg;

			@include breakpoint (small down) {
				font-size: 1.125rem;
				margin-bottom: $spacing--sm;
			}//end small down breakpoint
		}//end & > p

		.sl_cell {
			padding: 0 $spacing--sm/2;

			@include breakpoint (large only) {
				padding: $spacing--xs/2;
			}//end large only breakpoint

			@include breakpoint (small down) {
				padding: 0;

				&:not(:last-of-type) {
					margin-bottom: $spacing--sm;
				}//end &:not(:last-of-type);
			}//end small down breakpoint
		}//end .sl_cell
	}//end .sl_inner
}//end .sl_deck