.sl_staff {
	position: relative;


	& > .sl_inner {
		& > .sl_row {
			padding-top: $spacing--sm;
			margin: 0 (-$spacing--sm);

			@include breakpoint (large only) {
				margin: 0 (-$spacing--sm/2);
			}//end large only breakpoint

			@include breakpoint (small down) {
				margin: 0;
				padding-top: 0;
			}//end small down breakpoint

			& > .sl_cell {
				margin-bottom: $spacing--xs/2;
				padding: 0 $spacing--sm;

				@include breakpoint (large only) {
					padding: 0 $spacing--sm/2
				}//end large only breakpoint

				@include breakpoint (small down) {
					padding: 0;
				}//end small down breakpoint
			}//end & > .sl_cell
		}//end & > .sl_row
	}//end & > .sl_inner

	&__card {
		max-width: 400px;
		margin: 0 auto;

		@include breakpoint (small down) {
			max-width: 350px;
		}//end small down breakpoint
	}//end &__card

	&__image {
		min-height: 500px;
		width: 100%;
		border-radius: $border-radius;
		overflow: hidden;
		position: relative;
		background-size: cover;
		background-position: top center;
		background-repeat: no-repeat;

		@include breakpoint (large only) {
			min-height: 450px;
		}//end large only breakpoint

		@include breakpoint (small down) {
			min-height: 425px;
		}//end small down breakpoint
	}//end &__image

	&__content {
		padding: $spacing--sm;
	}//end &__content

	h3 {
		font-size: 1.5rem;
		margin-bottom: $spacing--xs/2;

		@include breakpoint (small down) {
			font-size: 1.5rem;
		}//end small down breakpoint
	}//end h3

	h4 {
		font-family: $body-font-family;
		color: get-color(accent1);
		font-size: 1.25rem;
		margin-bottom: 0;
	}//end h4
}//end .sl_staff