.sl_tab_module {
	& > .sl_inner {

		& > h2 {
			display: inline-block;
			margin-bottom: $spacing--lg;
		}//end & > h2

		& > .sl_button--simple {
			vertical-align: baseline;
			margin-left: $spacing--xs;
		}//end & > .sl_button--simple
	}//end & > .sl_inner

	.sl_tabs {
		background-color: get-color(inverse);
		box-shadow: $shadow;
		border-radius: $border-radius;

		&__title {

			& > a {
				background: none;
				color: get-color(primary);
				font-weight: $font-weight--bold;
				font-size: 1.5rem;
				padding: $spacing--md $spacing--sm;

				&:hover {
					background: none;
					color: get-color(accent2);
				}//end &:hover

			}//end & > a

			&.is-active {
				& > a {
					background: none;
					color: get-color(accent2);
					position: relative;

					&:focus, &[aria-selected=true] {
						background: none;
					}//end &:focus, &[aria-selected=true]

					&:after {
						content:'';
					    display: block;
					    position: absolute;
					    width: 0;
					    height: 0;
					    border-left: 16px solid transparent;
					    border-right: 16px solid transparent;
					    border-top: 16px solid #fff;
					    font-size: 0;
					    line-height: 0;
					    bottom: -16px;
					    right: calc(50% - 10px);
					}
				}//end & > a
			}//end &.is-active

			&:not(:last-of-type) {
				border-right: 1px solid get-color(accent1);

				@include breakpoint (small down) {
					border-right: 0;
					border-bottom: 1px solid get-color(accent1);
				}//end small down breakpoint
			}//end &:not(:last-of-type);
		}//end &__title

		&__content {
			background: none;
			padding-top: $spacing--xxl;
		}//end &__content

		&__panel {
			background: none;
			padding: 0;
		}//end &__panel
	}//end .sl_tabs

	&__card {
		padding: 0;
	}//end &__card

	&__content {
		display: flex;
		align-items: center;
		padding-right: $spacing--md;
	}//end &__content

	&__media {
		min-height: 350px;
		border-radius: $border-radius;
		overflow: hidden;

		@include breakpoint (small down) {
			min-height: 200px;
			margin-top: $spacing--sm;
		}//end small down breakpoint

		&__container {
			position: relative;
			width: 100%;
			height: 100%;

		}//end &__container
	}//end &__media

	&__image {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}//end &__image
}//end .sl_tab__module